@mixin flex-center {
	display: flex;
	align-items: center;
}

@mixin flex-center-column {
	display: flex;
	align-items: center;
	flex-direction: column;
}

@mixin line($margin-top: 35px) {
	height: 2px;
	background-color: gray;
	min-width: 100px;
	margin-top: $margin-top;
}

@mixin circle-image {
	padding: 20px;
	border-radius: 50%;
	border: 1px solid gray;
}
