* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

/* 
	Flex

.product__list {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.product__list > li {
	flex: 1 1 200px;
}
*/

.product__list {
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	list-style-type: none;
}

.product__card {
	padding: 20px;
	min-width: 200px;
	border-radius: 10px;
	background-color: #f0f0f0;
}
