* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section {
	gap: 20px;
	display: flex;
	margin-top: 20px;
	align-items: center;
	flex-direction: column;
}

.section__search {
	width: 90%;
	padding: 10px 20px;
}

.section__list {
	gap: 15px;
	width: 50%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.list__item {
	padding: 10px 0;
	list-style-type: none;
	border: 1px solid black;
}
